{% extends 'base.html.twig' %}

{% block title %}Association culturelle Koleka - Newsletter liste{% endblock %}
{% block style %}
    <style>
        #nsl-list{
            width: 100%;
            min-height: 120vh;
            margin-top: 80px;
        }
        @media screen and (max-width: 700px) {
            #nsl-list .table thead{
                display: none;
            }
            #nsl-list .table tr{
                display: block;
                margin-bottom: 40px;
            }
            #nsl-list .table td {
                display: block;
                text-align: right;
            }
            #nsl-list .table td:before {
                content: attr(data-label);
                float: left;
                font-weight: bold;
            }
        }
    </style>
{% endblock %}

{% block body %}
    <section id="nsl-list">
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <h1 class="text-center">Liste Newsletter</h1>
                    <table class="table table-success table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Titre</th>
                                <th>Pièce jointe</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Modifier</th>
                                <th>Supprimer</th>
                                <th>Envoi</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for newsletter in newsletters %}
                            <tr>
                                <td data-label="ID">{{ newsletter.id }}</td>
                                <td data-label="Titre">{{ newsletter.title }}</td>
                                {% if newsletter.attachment is null %}
                                <td data-label="Pièce jointe">Aucune</td>
                                {% else %}
                                <td data-label="Pièce jointe">{{ newsletter.attachment }}</td>
                                {% endif %}
                                <td data-label="Date">{{ newsletter.getDate()|date('m-Y') }}</td>
                                {% if newsletter.isIsSent() == 0 %}
                                <td data-label="Status">Non envoyé</td>
                                {% else %}
                                <td data-label="Status">Envoyé</td>
                                {% endif %}

                                <td data-label="Modifier"><a href="{{path('newsletter_update', {id: newsletter.id})}}" type="button" class="btn btn-light">Modifier</a></td>
                                <td data-label="Supprimer"><a href="{{path('newsletter_delete', {id: newsletter.id})}}" type="button" class="btn btn-danger">Supprimer</a></td>
                                <td data-label="Envoyer"><a href="{{path('newsletter_send', {id: newsletter.id })}}" type="button" class="btn btn-info">Envoyer</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block js %} 
    <script>
        let userNavNsl = document.querySelector("#desktop .user-nav");
        let nslPage = document.querySelector("#nsl-list");

        if(userNavNsl){
            nslPage.style.marginTop = '110px';
        }else{
            nslPage.style.marginTop = '80px';
        }
    </script> 
{% endblock %}