{% extends 'base.html.twig' %}

{% block title%}Association culturelle Koleka - Accueil{% endblock %}
{% block stylesheets %} <link rel="stylesheet" href="{{asset('css/home.css')}}"> {% endblock %}
{% block style %}
    <style>
        .medusa{
            color: #fff;
            width: 100%;
            height: 140vh;
            background: url("{{asset('img/medusa.jpg')}}");
            background-size: 100% 100%;
            border-bottom: 1px solid rgba(239, 239, 239, 0.71);
            display: flex;
            justify-content: flex-end;
        }
        .werewolf{
            color: #fff;
            width: 100%;
            height: 140vh;
            background: url("{{asset('img/loup-garoup.jpg')}}");
            background-size: 100% 100%;
            border-bottom: 1px solid rgba(239, 239, 239, 0.71);
        }
        .shadow-people{
            color: #fff;
            width: 100%;
            height: 140vh;
            background: url("{{asset('img/shadow-people.jpg')}}");
            background-size: 100% 100%;
            border-bottom: 1px solid rgba(239, 239, 239, 0.71);
            display: flex;
            justify-content: flex-end;
        }
        @media screen and (min-width: 280px) and (max-width: 575px){
            .medusa,
            .werewolf,
            .shadow-people{
                height: auto;
                padding: 10% 0%;
                display: flex;
                justify-content: center;
            }
        }
        @media screen and (min-width: 576px) and (max-width: 992px){
            .medusa,
            .werewolf,
            .shadow-people{
                height: auto;
                padding: 10% 0%;
            }
        }
    </style>
{% endblock %}
{% block body %}
<div id="progress">
    <span id="progress-value"><i class="fa-solid fa-chevron-up"></i></span>
</div>

<section id="introduction">
<div class="medusa">
    <div class="medusa-intro">
        <h2>Médusa l'impytoyable gorgone</h2>
        <p>
            Méduse (en grec ancien : Μέδουσα, Médousa), parfois Médusa, appelée aussi la Gorgone (Γοργώ, Gorgô), est dans la mythologie grecque l'une des trois Gorgones (avec ses sœurs Euryale et Sthéno). Elle est la seule à être mortelle. Fille de Phorcys et Céto, et donc petite-fille de l'union de la Terre (Gaïa) avec l'Océan (Pontos), elle appartient au groupe des divinités primordiales, tout comme ses cousines, la Chimère et l'Hydre de Lerne, qui, elles aussi, avaient des traits associés à etc... 
        </p>
        <a href="{{path('article', {id: 17})}}" class="btn-discovery">
            Découvrir
        </a>
    </div>
</div>
<div class="werewolf">
    <div class="werewolf-intro reveal">
        <h2>Les légendes de lycanthrope</h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Illo accusantium adipisci omnis! Dolores tempora,
            ea fuga asperiores voluptates amet quidem commodi pariatur laboriosam
            recusandae praesentium ipsa maxime deleniti incidunt iusto.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta velit possimus,
            fuga illum dolorem blanditiis. Quisquam recusandae, laboriosam facere quibusdam rem esse corrupti obcaecati, delectus doloremque ad possimus aliquam labore!
        </p>
        <a href="./legendes-liste/lycanthrope.html" class="btn-discovery">
            Découvrir
        </a>
    </div>
</div>
<div class="shadow-people">
    <div class="shadow-people-intro reveal">
        <h2>Les shadow peoples ou personnes ombres</h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Illo accusantium adipisci omnis! Dolores tempora,
            ea fuga asperiores voluptates amet quidem commodi pariatur laboriosam
            recusandae praesentium ipsa maxime deleniti incidunt iusto.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta velit possimus,
            fuga illum dolorem blanditiis. Quisquam recusandae, laboriosam facere quibusdam rem esse corrupti obcaecati, delectus doloremque ad possimus aliquam labore!
        </p>
        <a href="./legendes-liste/shadow-people.html" class="btn-discovery">
            Découvrir
        </a>
    </div>
</div>
</section>
{% endblock %}
{% block js %} <script src="{{asset('js/home.js')}}"></script> {% endblock %}