{% extends 'base.html.twig' %}

{% block title%}Association culturelle Koleka - Accueil{% endblock %}
{% block meta %}
<meta name="robots" content="index,follow">
<meta name="description" content="Découvrez des mythes des légendes et des folklores du monde entier avec l'association culturelle Koleka. La culture du monde à portée de clique">
{% endblock %}
{% block stylesheets %} <link rel="stylesheet" href="{{asset('css/home.css')}}"> {% endblock %}
{% block style %}
    <style>
        .medusa{
            color: #fff;
            width: 100%;
            height: 140vh;
            background: url("{{asset('img/medusa.jpg')}}");
            background-size: 100% 100%;
            border-bottom: 1px solid rgba(239, 239, 239, 0.71);
            display: flex;
            justify-content: flex-end;
        }
        .werewolf{
            color: #fff;
            width: 100%;
            height: 140vh;
            background: url("{{asset('img/loup-garoup.jpg')}}");
            background-size: 100% 100%;
            border-bottom: 1px solid rgba(239, 239, 239, 0.71);
        }
        .shadow-people{
            color: #fff;
            width: 100%;
            height: 140vh;
            background: url("{{asset('img/shadow-people.jpg')}}");
            background-size: 100% 100%;
            border-bottom: 1px solid rgba(239, 239, 239, 0.71);
            display: flex;
            justify-content: flex-end;
        }
        @media screen and (max-width: 575px){
            .medusa,
            .werewolf,
            .shadow-people{
                height: auto;
                padding: 10% 0%;
                display: flex;
                justify-content: center;
            }
        }
        @media screen and (min-width: 576px) and (max-width: 992px){
            .medusa,
            .werewolf,
            .shadow-people{
                height: auto;
                padding: 10% 0%;
            }
        }
    </style>
{% endblock %}
{% block body %}
<div id="progress">
    <span id="progress-value"><i class="fa-solid fa-chevron-up"></i></span>
</div>

<section id="introduction">
<div class="medusa">
    <div class="medusa-intro">
        <h2>Médusa l'impytoyable gorgone</h2>
        <p>
            Méduse (en grec ancien : Μέδουσα, Médousa), parfois Médusa, appelée aussi la Gorgone (Γοργώ, Gorgô), est dans la mythologie grecque l'une des trois Gorgones (avec ses sœurs Euryale et Sthéno). Elle est la seule à être mortelle. Fille de Phorcys et Céto, et donc petite-fille de l'union de la Terre (Gaïa) avec l'Océan (Pontos), elle appartient au groupe des divinités primordiales, tout comme ses cousines, la Chimère et l'Hydre de Lerne, qui, elles aussi, avaient des traits associés à etc... 
        </p>
        <a href="{{path('article', {id: 27})}}" class="btn-discovery">
            Découvrir
        </a>
    </div>
</div>
<div class="werewolf">
    <div class="werewolf-intro reveal">
        <h2>Les légendes de lycanthrope</h2>
        <p>
            Un lycanthrope, plus connu en français sous le nom de loup-garou, est, dans les mythologies, les légendes et les folklores principalement issus de la civilisation européenne, un humain qui a la capacité de se transformer, partiellement ou complètement, en loup, ou en créature anthropomorphe proche du loup.

Cette transformation peut être due à plusieurs causes, comme une malédiction ou un rituel volontaire, et plus récemment la morsure ou griffure d'un loup ou d'un autre lycanthrope... 
        </p>
        <a href="{{path('article', {id: 26})}}" class="btn-discovery">
            Découvrir
        </a>
    </div>
</div>
<div class="shadow-people">
    <div class="shadow-people-intro reveal">
        <h2>Les shadow peoples ou personnes ombres</h2>
        <p>
            Une personne de l'ombre (également appelée silhouette de l'ombre ou masse noire) est la perception d'une tache d'ombre comme une figure humanoïde vivante, et interprétée comme la présence d'un esprit ou d'une autre entité par les croyants du paranormal ou du surnaturel.Un certain nombre de religions, de légendes et de systèmes de croyance décrivent des entités surnaturelles telles que les ombres du monde souterrain, et diverses créatures de l'ombre ont longtemps été un élément de base... 
        </p>
        <a href="{{path('article', {id: 28})}}" class="btn-discovery">
            Découvrir
        </a>
    </div>
</div>
</section>
{% endblock %}
{% block js %} <script src="{{asset('js/home.js')}}"></script> {% endblock %}