{% extends 'base.html.twig' %}

{% block title %}Article - {{ legend.title }}{% endblock %}
{% block stylesheets %} <link rel="stylesheet" href="{{asset('css/article.css')}}"> {% endblock %}

{% block javascripts %}
    <script src="{{asset('js/article.js')}}"></script>
{% endblock %}

{% block body %}
<section id="mythPage">
    <article class="lg" id="{{ legend.id }}">
        <h1 class="myth-page-title">{{ legend.title }}</h1>
        <div class="article-info">
            <p class="article-author">{{ legend.author.getFirstname() }} {{ legend.author.getLastname() }}</p>
            <p>publié le: {{ legend.getPublishedAt()|date("d-m-Y H:i") }}</p>
        </div>
        <div class="article-body">
            <p>
               {{ legend.content }}
            </p>
        </div>

        <hr>
        <div class="comment-section container">
            <div class="row">
                <div class="col-lg-md-12 form-container">
                    <div class="alert alert-success" id="message">commentaire ajouté</div>
                    <div class="alert alert-danger" id="message-err-com">erreur ajout commentaire</div>
                    {{ render_hinclude(controller('App\\Controller\\CommentController::displayCommentForm'),  {
                        default: 'legend-form/comment-form.html.twig'
                    }) }}
                    
                    {% include  './legend/comment.html.twig' %}
                </div>
            </div>
        </div>

        {{ render_hinclude(controller('App\\Controller\\CommentController::displayReplyForm'),  {
            default: './legend-form/modal.html.twig'
        }) }}
        {{ render_hinclude(controller('App\\Controller\\CommentController::displayUpdateForm'),  {
            default: './legend-form/modal-update.html.twig'
        }) }}
    </article>
</section>
{% endblock %}