{% extends 'base.html.twig' %}

{% block title %}Article - {{ legend.title }}{% endblock %}
{% block stylesheets %} <link rel="stylesheet" href="{{asset('css/article.css')}}"> {% endblock %}

{% block javascripts %}
    <script src="{{asset('js/article.js')}}"></script>
{% endblock %}

{% block body %}
<section id="mythPage">
    <article class="lg" id="{{ legend.id }}">
        <h1 class="myth-page-title">{{ legend.title }}</h1>
        <div class="article-info">
            <p class="article-author">{{ legend.author.getFirstname() }} {{ legend.author.getLastname() }}</p>
            <p>publié le: {{ legend.getPublishedAt()|date("d-m-Y H:i") }}</p>
        </div>
        {% if legend.illustration is not null %}
        <figure class="article-img-container">
            <img class="article-img" src="{{ asset('uploads/') }}{{legend.illustration}}" alt="illustration légende {{ legend.title }}">
            <figcaption>
                Image d'illustration de la légende {{ legend.title }}
            </figcaption>
        </figure>
        {% elseif legend.illustration is null %}
            
        {% endif %}
        <div class="article-body">
            <p>
               {{ legend.content }}
            </p>
        </div>

        <hr>
        <div class="comment-section container">
            <div class="row">
                <div class="col-lg-md-12 form-container">
                    <span id="message"></span>
                    <form id="cmt-form">
                        <textarea class="form-control form_data" name="comment-input" id="comment-input" cols="30" rows="4" placeholder="Ajouter un commentaire"></textarea>
                        <div class="col-lg-md-12">
                            {% if app.user.userIdentifier is defined %}
                            <button type="submit" id="submit" class="btn btn-comment" onclick="save_data(); return false;">Ajouter un commentaire</button>
                            {% elseif app.user.userIdentifier is not defined %}
                            <a class="btn btn-login" href="{{path('app_login')}}">Ajouter un commentaire</a>
                            {% endif %}
                        </div>
                    </form>
                    <!-- <div class="comment-display-container">

                    </div> -->
                    {% include  './legend/comment.html.twig' %}
                </div>
            </div>
        </div>

        {% include  './legend/modal.html.twig' %}
        {% include  './legend/modal-update.html.twig' %}
    </article>
</section>
{% endblock %}