{% extends 'base.html.twig' %}

{% block title %}Association culturelle Koleka - Mythes et légendes {{ country.name }}{% endblock %}
{% block stylesheets %} <link rel="stylesheet" href="{{asset('css/country.css')}}"> {% endblock %}

{% block style %}
    <style>
        #country-legends .country-banner{
            width: 100%;
            height: 400px;
            background: url("https://via.placeholder.com/1000")
            center center;
            background-size: cover;
            background-repeat: no-repeat;
            box-shadow: 1px 5px 5px #222;
        }
    </style>
{% endblock %}

{% block body %}
<section id="country-legends">
    <div class="country-banner"></div>
    <h2 class="country-title">{{ country.name }}</h2>
        <div class="country-content">
            <h1 class="country-sub-title">Mythes et légendes {{ country.name }}</h1>
            <ul>

                {% for legend in article %}
                <li><a href="{{path('article', {id: legend.id})}}">{{ legend.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
</section>
<hr>
{% include './form/newsletter.html.twig' %}
{% endblock %}

{% block js %} 
    <script>
        let userNavPage = document.querySelector("#desktop .user-nav");
        let countryPage = document.querySelector("#country-legends");
        
        if(userNavPage){
            countryPage.style.paddingTop = '110px';
        }else{
            countryPage.style.paddingTop = '80px';
        }
    </script> 
{% endblock %}
