{% extends 'base.html.twig' %}

{% block title %}Association culturelle Koleka - Légendes{% endblock %}
{% block meta %}
<meta name="robots" content="index,follow">
<meta name="description" content="Des mythes et des légendes venant de tous les continents sur la plateforme de l'association culturelle Koleka">
{% endblock %}
{% block stylesheets %} <link rel="stylesheet" href="{{asset('css/legend.css')}}"> {% endblock %}

{% block style %}
    <style>
        #legend .dropdown-bkg{
            width: 100%;
            height: 60vh;
            background: url('{{asset("img/fantasy-castle.jpg")}}')
            center center;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
{% endblock %}

{% block body %}
<section id="legend">
    <div class="dropdown-bkg">
        <div class="country-menu">
            <div class="country-entry">
                <span class="lg-selector" onclick="closeCountryMenu(this)">
                    <p>-- Sélectionner un Pays --</p> <img id="lg-arrow" style="width: 20px ; height: 20px" src="{{asset('img/arrow.svg')}}" alt="arrow">
                </span>     
                <ul id="choice-menu" class="close-lg-menu">
                        <li class="lg-continent-name"> Afrique </li>
                        {% for country in african_countries %}
                        <a href="{{path('un_pays', {id: country.id})}}"><li class="country-link">{{ country.name }}</li></a>
                        {% endfor %}

                        <li class="lg-continent-name"> Amerique </li>
                        {% for country in american_countries %}
                        <a href="{{path('un_pays', {id: country.id})}}"><li class="country-link">{{ country.name }}</li></a>
                        {% endfor %}

                        <li class="lg-continent-name"> Asie </li>
                        {% for country in asian_countries %}
                        <a href="{{path('un_pays', {id: country.id})}}"><li class="country-link">{{ country.name }}</li></a>
                        {% endfor %}

                        <li class="lg-continent-name"> Europe </li>
                        {% for country in european_countries %}
                        <a href="{{path('un_pays', {id: country.id})}}"><li class="country-link">{{ country.name }}</li></a>
                        {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="monthly-selection">
        <h2 class="legend-title">Nos sélections du mois</h2>
            <div class="container-section">
                <div class="legend-container">
                    <a class="lg-myth-link" href="{{path('article', {id: 27})}}">
                        <img class="legend-illustration" src="{{asset('img/medusa.jpg')}}" alt="mythe légende médusa grèce antique">
                    </a>
                    <a class="lg-myth-cath" href="{{path('article', {id: 27})}}">
                        <p class="myth-cath">MYTHE, LEGENDE GRECE ANTIQUE</p>
                    </a>
                    <a class="lg-myth-title" href="{{path('article', {id: 27})}}">
                        <h2 class="myth-title">La légende de Médusa</h2>
                    </a>
                    <a href="{{path('article', {id: 27})}}" class="lg-myth-resume">
                        <p>
                            Méduse (en grec ancien : Μέδουσα, Médousa), parfois Médusa, appelée aussi la Gorgone (Γοργώ, Gorgô), est dans la mythologie grecque l'une des trois Gorgones (avec ses sœurs Euryale et Sthéno). Elle est la seule à être mort... 
                        </p>
                    </a>
                </div>
                <div class="legend-container">
                    <a class="lg-myth-link" href="{{path('article', {id: 30})}}">
                        <img class="legend-illustration" src="{{asset('img/bête-du-guevaudan.jpg')}}" alt="mythe légende de la bête du guévaudan">
                    </a>
                    <a class="lg-myth-cath" href="{{path('article', {id: 30})}}">
                        <p class="myth-cath">CULTURE, LEGENDES HISTOIRE FRANCE</p>
                    </a>
                    <a class="lg-myth-title" href="{{path('article', {id: 30})}}">
                        <h2 class="myth-title">La bête du Guévaudan</h2>
                    </a>
                    <a class="lg-myth-resume" href="{{path('article', {id: 30})}}">
                        <p>
                            La Bête du Gévaudan (la Bèstia de Gavaudan en occitan) est le surnom attribué à un ou plusieurs canidés à l'origine d'une série d'attaques contre des humains survenues entre le 30 juin 1764 et le 19 juin 1767.Le plus souvent...
                        </p>
                    </a>
                </div>
                <div class="legend-container">
                    <a href="{{path('article', {id: 29})}}" class="lg-myth-link">
                        <img class="legend-illustration" src="{{asset('img/sculpture-vaudou.jpg')}}" alt="mythe légende médusa grèce antique">
                    </a>
                    <a class="lg-myth-cath" href="{{path('article', {id: 29})}}">
                        <p class="myth-cath">CULTURE, LEGENDES HISTOIRE HAITI</p>
                    </a>
                    <a class="lg-myth-title" href="{{path('article', {id: 29})}}">
                        <h2 class="myth-title">Clairvius Narcisse, le zombie</h2>
                    </a>
                    <a href="{{path('article', {id: 29})}}" class="lg-myth-resume">
                        <p>
                            Clairvius Narcisse (v. 1922 – 1994) est un Haïtien dont la notoriété provient du récit qu'il a fait selon lequel il aurait été transformé en zombie puis libéré par ses ravisseurs. Il aurait fait partie des prétendus morts-vivants
                        </p>
                    </a>
                </div>
            </div>
    </div>
</section>
{% endblock %}
{% block js %} <script src="{{asset('js/legend.js')}}"></script> {% endblock %}