{% extends 'base.html.twig' %}

{% block title %}Association culturelle Koleka - Mes Légendes{% endblock %}
{% block style %} 
    <style>
        #user-article{
            width: 100%;
            height: auto;
            padding-top: 110px;
        }
        #user-article .container{
            width: 100%;
            min-height: 120vh;
        }

        @media screen and (max-width: 700px) {
            #user-article .table thead{
                display: none;
            }
            #user-article .table tr{
                display: block;
                margin-bottom: 40px;
            }
            #user-article .table td {
                display: block;
                text-align: right;
            }
            #user-article .table td:before {
                content: attr(data-label);
                float: left;
                font-weight: bold;
            } 
        }
    </style>
{% endblock %}

{% block body %}
    <section id="user-article">
        <div class="container">
            <div class="row">
                <h2 class="text-center">Mes articles</h2>
                <table class="table table-success table-striped mt-5">
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Date</th>
                            <th>illustration</th>
                            <th>Consulter</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for legend in user_articles %}
                        <tr>
                            <td data-label="Titre">{{ legend.title }}</td>
                            <td data-label="Date">{{ legend.getPublishedAt()|date('d/m/Y') }}</td>
                            {% if legend.illustration is null %}
                            <td data-label="Image">aucune</td>
                            {% else %}
                            <td data-label="Image">{{ legend.illustration }}</td>
                            {% endif %}
                            <td data-label="Consulter"><a href="{{path('article', {id: legend.id})}}" class="btn btn-primary">Voir</a></td>
                            <td data-label="Modifier"><a href="{{path('modifier_article', {id: legend.id})}}" class="btn btn-info">Modifier</a></td>
                            <td data-label="Supprimer"><a href="{{path('supprimer_article', {id: legend.id})}}" class="btn btn-danger">Supprimer</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}