{% extends 'base.html.twig' %}

{% block title %}Association culturelle Koleka - Connexion{% endblock %}
{% block stylesheets %} <link rel="stylesheet" href="{{asset('css/login.css')}}"> {% endblock %}

{% block style %}
    <style>
        #login{
            padding: 8% 0;
            width: 100%;
            min-height: 170vh;
            background: url('{{asset("img/fantasy-landscape.jpg")}}')
            center center;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    @media screen and (min-width: 280px) and (max-width: 575px) {
    #login{
        min-height: 100vh;
        padding: 4% 0;
        justify-content: center;
    }
    #login form{
        margin-right: 0%;
        width: 80%;
        margin-top: 0%;
    }
    }
    @media screen and (min-width: 576px) and (max-width: 992px){
        #login{
        min-height: 100vh;
        padding: 4% 0;
        justify-content: center;
    }
    #login form{
        margin-right: 0%;
        width: 80%;
        margin-top: 0%;
    }
    }
    </style>
{% endblock %}
{% block body %}
<section id="login">
    <form method="post" action="{{path('app_login')}}">
        <h1>Se connecter à Koleka</h1>
        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="identification">
            <label for="email"></label>
            <input type="email" value="{{ last_username }}" id="email" name="email" placeholder="Entrez votre Email" autocomplete="email">
        </div>
        <div class="identification-psw">
            <label for="password"></label>
            <input type="password" id="password" name="password" placeholder="Mot de Passe" autocomplete="current-password">
        </div>
        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html
    
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
        <div class="lg-btn-wrapper">
            <button type="submit">Connexion</button>
        </div>
        <p class="signup-link">
            Vous n'avez pas de compte ? <a href="{{path('app_register')}}">créez-en un</a> 
        </p>
        <input type="hidden" name="_csrf_token"
        value="{{ csrf_token('authenticate') }}"
 >
    </form>
</section>
{% endblock %}